html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-text-color: #212121;
  --main-background-color: #f5f5f5;
  --active-accent: #2196f3;
  --text-link-color: #757575;
  --hero-background: #2f303a;
  --accent-color: #ffffff;
  --inactive-buttons: #f5f4fa;
  --portfolio-border: #eeeeee;
  --footer-text: rgba(255, 255, 255, 0.6);
  --header-line: #ececec;
}

.page {
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  margin: 0;
  font-size: 14px;
  padding-top: 80px;
}
a {
  text-decoration-line: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul button {
  margin: 0;
}

.list {
  list-style: none;
  padding: 0%;
  margin: 0%;
}

.container {
  width: 1200px;
  margin: auto auto;
  padding-left: 15px;
  padding-right: 15px;
}
main {
  background-color: var(--main-background-color);
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.header-container {
  display: flex;
  align-items: center;
  height: 80px;
}
.bar {
  display: flex;
  align-items: center;
  height: 80px;
}
.page-header {
  position: fixed;
  background-color: var(--accent-color);
  border-bottom: 1px solid var(--header-line);
  z-index: 1;
  width: 100%;
  top: 0%;
  left: 0%;
}

.logo-picture {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  vertical-align: top;
  margin-right: 93px;
  color: #000;
}
.logo-web {
  margin-right: -6px;
}
.site-nav {
  display: flex;
}
.site-nav li {
  margin-right: 50px;
}
.site-nav li:last-child {
  margin-right: 0px;
}
.site-nav a {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.35;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav a:hover,
.contact-data a:hover {
  color: var(--active-accent);
}

.site-nav a:focus,
.contact-data a:focus {
  color: var(--active-accent);
}

.site-nav .link-header.current {
  color: var(--active-accent);
}

.link-header {
  position: relative;
}
.link-header::after {
  content: '';
  display: block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-header:hover::after,
.link-header:focus::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--active-accent);
  border-radius: 2px;
  position: absolute;
  left: 0%;
  bottom: 0%;
}

.link-header.current::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--active-accent);
  border-radius: 2px;
  position: absolute;
  left: 0%;
  bottom: 0%;
}

.contact-data {
  display: flex;
  margin-left: auto;
  align-items: center;
  letter-spacing: 0.02em;
}
.contact-data .data + .data {
  margin-left: 50px;
}

.contact-data a {
  color: var(--text-link-color);
  font-weight: 500;
  line-height: 1.35;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.for-icons {
  display: block;
}
.email-address,
.phone-number {
  display: flex;
  align-items: center;
  color: currentColor;
}
.header-icons {
  margin-right: 10px;
  fill: currentColor;
}
.header-icons:hover {
  fill: currentColor;
}

.hero-section {
  background-color: var(--hero-background);
  text-align: center;
  padding: 200px 0px;
  max-width: 1600px;
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-title {
  color: var(--accent-color);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636364;
  vertical-align: top;
  margin-bottom: 30px;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
}
header,
main {
  background-color: var(--accent-color);
}
.hero-button {
  color: var(--accent-color);
  background-color: var(--active-accent);
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  vertical-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: 0em;
  padding: 10px 32px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.portfolio-examples {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 8px;
  margin-bottom: 50px;
}

.portfolio-examples button {
  background-color: var(--inactive-buttons);
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;
  border: 1px solid transparent;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-examples button:hover,
.portfolio-examples button:focus {
  color: var(--accent-color);
  background-color: var(--active-accent);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
}

.portfolio-item-link {
  display: block;
  transition-property: box-shadow;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item-link:hover,
.portfolio-item-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item-c {
  position: relative;
  overflow: hidden;
}
.portfolio-overlay {
  position: absolute;
  opacity: 0;
  top: 0;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  color: var(--accent-color);
  transform: translatey(100%);
  transition: transform 250ms ease;
}

.portfolio-item-link:hover .portfolio-overlay,
.portfolio-item-link:focus .portfolio-overlay {
  opacity: 1;
  transform: translatey(0%);
}

.advantages {
  display: flex;
  flex-wrap: wrap;
}

.icon-back {
  display: flex;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: rgba(245, 244, 250, 1);
  justify-content: center;
  align-items: center;
}

.advantage {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
}
.advantage:nth-child(4n) {
  margin-right: 0%;
}

.advantages p,
.item-name {
  color: var(--text-link-color);
}

.advantages h3 {
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 14px;
}
.advantages p {
  line-height: 1.7;
}

.what-we-do {
  padding-top: 0%;
}
.section-title {
  text-align: center;
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 50px;
}

.what-we-do-img {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.what-we-do-img li {
  margin-right: 30px;
}
.what-we-do-img li:last-child {
  margin-right: 0%;
}

.container-act {
  position: relative;
}
.overlay-adv {
  position: absolute;
  display: flex;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  justify-content: center;
  align-items: center;
  bottom: 0;
  color: var(--accent-color);
  font-weight: 700;
  opacity: 0;
  transition: 300ms opacity linear;
}

.actions:hover .overlay-adv {
  opacity: 1;
}

.team-section {
  background-color: var(--inactive-buttons);
}

.gallery-items {
  background-color: var(--accent-color);
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  color: #2196f3;
}

.our-team {
  display: flex;
  flex-wrap: wrap;
}

.specialist {
  background-color: var(--accent-color);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.14);
  padding-bottom: 30px;
}
.specialist:not(:last-child) {
  margin-right: 30px;
}

.team-name {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 10px;
  margin-top: 30px;
}
.team-position {
  text-align: center;
  font-size: 16px;
  line-height: 1.2;
  color: var(--text-link-color);
  margin-bottom: 16px;
}
.no-gap {
  display: block;
}

.partners-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.partnership {
  width: 170px;
  height: 92px;
}

.partnership:hover .partners-icons {
  fill: var(--active-accent);
}

.link-to-partner {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
  color: #afb1b8;
  transition-property: border, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-to-partner:hover,
.link-to-partner:focus {
  border: 1px solid var(--active-accent);
  color: var(--active-accent);
  outline: none;
}
.partners-icons {
  fill: currentColor;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.partners-icons:hover,
.partners-icons:focus {
  fill: currentColor;
}

.our-partners {
  text-align: center;
  font-size: 36px;
  line-height: 1.16666666667;
  margin-bottom: 50px;
}

.partners-list img {
  display: block;
  cursor: pointer;
}
.gallery-items li {
  width: 370px;
}
.gallery-items h2 {
  color: var(--primary-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.gallery-items p {
  font-size: 16px;
  line-height: 1.9;
}

.border {
  border: 1px solid var(--portfolio-border);
  padding: 20px 24px;
}
.footer {
  background-color: var(--hero-background);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo-picture {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  vertical-align: top;
}
.footer-content {
  display: flex;
  align-items: baseline;
}
.footer .logo-picture {
  margin-right: 0px;
}
.address {
  color: var(--accent-color);
  font-style: normal;
  line-height: 1.7;
  margin-top: 20px;
  margin-bottom: 9px;
}
.contact-data-footer a {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.7;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.email {
  margin-bottom: 9px;
}
.contact-data-footer a:hover,
.contact-data-footer a:focus {
  color: var(--active-accent);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.footer-right {
  font-weight: 700;
  color: var(--accent-color);
  margin-left: 70px;
  min-width: 231px;
}

.join {
  margin-bottom: 20px;
}
.media-list {
  display: flex;
  column-gap: 10px;
  background-repeat: no-repeat;
}
.media {
  width: 44px;
  height: 44px;
}
.media-links {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  column-gap: 10px;
  cursor: pointer;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.media-links:hover,
.media-links:focus {
  background-color: var(--active-accent);
}
.media-icons {
  fill: var(--accent-color);
}
.social-contact-list {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-contact-list:hover,
.social-contact-list:focus {
  background-color: var(--active-accent);
  fill: var(--accent-color);
}

.contact-links {
  width: 44px;
  height: 44px;
}
.contact-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.pop-up {
  width: 528px;
  min-height: 581px;
  background-color: var(--accent-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
}
.button-close {
  right: 8px;
  top: 8px;
  position: absolute;
  border: none;
  background-color: transparent;
  display: block;
  padding: 0%;
}
