.contact-data {
  display: flex;
  margin-left: auto;
  align-items: center;
  letter-spacing: 0.02em;
}
.contact-data__item {
  margin-left: 50px;
}

.contact-data__link {
  color: $text-link-color;
  font-weight: 500;
  line-height: 1.35;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $active-accent;
  }
}

.contact-data__email-address,
.contact-data__phone-number {
  display: flex;
  align-items: center;
  color: currentColor;
}
.contact-data__icon {
  margin-right: 10px;
  fill: currentColor;

  &:hover {
    fill: currentColor;
  }
}
