.header__content {
  display: flex;
  align-items: center;
  height: 80px;
}
.header__bar {
  display: flex;
  align-items: center;
  height: 80px;
}
.header {
  position: fixed;
  background-color: $accent-color;
  border-bottom: 1px solid $header-line;
  z-index: 1;
  width: 100%;
  top: 0%;
  left: 0%;
}
