.gallery-items li {
  width: 370px;
}
.gallery-items h2 {
  color: $primary-text-color;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.gallery-items p {
  font-size: 16px;
  line-height: 1.9;
}
.gallery-items {
  background-color: $accent-color;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  color: $active-accent;
}
