html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  color: $primary-text-color;
  font-family: $font-main;
  letter-spacing: 0.03em;
  margin: 0;
  font-size: 14px;
  padding-top: 80px;
  background-color: $main-background-color;
}
a {
  text-decoration-line: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul button {
  margin: 0;
}

.list {
  list-style: none;
  padding: 0%;
  margin: 0%;
}

.container {
  width: 1200px;
  margin: auto auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header,
main {
  background-color: $accent-color;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.no-gap {
  display: block;
}

.section-title {
  text-align: center;
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 50px;
}
